{% load static %}
<header id="page-topbar">
    <div class="navbar-header">
        <div class="d-flex">
            <!-- LOGO -->
            <div class="navbar-brand-box">
                <a href="{% url 'erp:dashboard' %}" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="{% static 'lib/plantilla/images/logo-sm-dark' %}.png" alt="" height="20">
                    </span>
                    <span class="logo-lg">
                        <img src="{% static 'lib/plantilla/images/logo-dark.png' %}" alt="" height="18">
                    </span>
                </a>

                <a href="{% url 'erp:dashboard' %}" class="logo logo-light">
                    <span class="logo-sm">
                        <img src="{% static 'lib/plantilla/images/logo-sm-dark' %}.png" alt="" height="20">
                    </span>
                    <span class="logo-lg">
                        <img src="{% static 'lib/plantilla/images/logo-light.png' %}" alt="" height="18">
                    </span>
                </a>
            </div>

            <button type="button" class="btn btn-sm px-3 font-size-16 d-lg-none header-item waves-effect waves-light"
                    data-toggle="collapse" data-target="#topnav-menu-content">
                <i class="fa fa-fw fa-bars"></i>
            </button>

            <div class="topnav">
                <nav class="navbar navbar-light navbar-expand-lg topnav-menu">

                    <div class="collapse navbar-collapse" id="topnav-menu-content">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-dashboard"
                                   role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Mantenimientos
                                    <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-dashboard">
                                    <a href="{% url 'erp:category_list' %}" class="dropdown-item">Categorías</a>
                                    <a href="{% url 'erp:product_list' %}" class="dropdown-item">Productos</a>
                                    <a href="{% url 'erp:client_list' %}" class="dropdown-item">Clientes</a>
                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-components"
                                   role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Salidas
                                    <div class="arrow-down"></div>
                                </a>

                                <div class="dropdown-menu" aria-labelledby="topnav-components">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div>
                                                <a href="{% url 'erp:sale_list' %}" class="dropdown-item">Ventas</a>
                                                <a href="{% url 'sale_report' %}" class="dropdown-item">Reporte de
                                                    ventas</a>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-pages" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Supervisión
                                    <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-pages">

                                    <a href="{% url 'user:user_list' %}" class="dropdown-item"><i
                                            class="fas fa-user-friends"></i> Usuarios</a>


                                </div>
                            </li>


                        </ul>
                    </div>
                </nav>
            </div>
        </div>

        <div class="d-flex">
            <div class="dropdown d-inline-block d-lg-none ml-2">
                <button type="button" class="btn header-item noti-icon waves-effect" id="page-header-search-dropdown"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="mdi mdi-magnify"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right p-0"
                     aria-labelledby="page-header-search-dropdown">

                    <form class="p-3">
                        <div class="form-group m-0">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search ..."
                                       aria-label="Recipient's username">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit"><i class="mdi mdi-magnify"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


            <div class="dropdown d-none d-lg-inline-block ml-1">
                <button type="button" class="btn header-item noti-icon waves-effect" data-toggle="fullscreen">
                    <i class="mdi mdi-fullscreen"></i>
                </button>
            </div>

            {% if request.user.groups.all %}
                <div class="dropdown d-inline-block">
                    <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                        <span class="d-none d-xl-inline-block ml-1">{{ request.session.group }}</span>
                        {% if request.user.groups.all.count > 1 %}
                            <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                        {% endif %}
                    </button>

                    <div class="dropdown-menu dropdown-menu-right">
                        {% for g in request.user.groups.all %}
                            {% if g.id != request.session.group.id %}
                                <a class="dropdown-item" href="{% url 'user:user_change_group' g.id %}"><i
                                        class="bx bx-group font-size-16 align-middle mr-1"></i>
                                    {{ g.name }}</a>
                            {% endif %}

                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            <div class="dropdown d-inline-block">
                <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="rounded-circle header-profile-user" src="{{ request.user.get_image }}"
                         alt="Header Avatar">
                    <span class="d-none d-xl-inline-block ml-1">{{ request.user.username }}</span>
                    <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <span class="dropdown-header" style="font-size: 12px;">
                        Su último acceso fue {{ request.user.last_login }}
                    </span>
                    <!-- item-->
                    <a class="dropdown-item" href="{% url 'user:user_profile' %}"><i class="bx bx-user font-size-16 align-middle mr-1"></i> Editar Perfil</a>
                    <a class="dropdown-item" href="{% url 'user:user_change_password' %}"><i class="bx bx-lock-open font-size-16 align-middle mr-1"></i>
                        Resetear Password</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-danger" href="{% url 'logout' %}"><i
                            class="bx bx-power-off font-size-16 align-middle mr-1 text-danger"></i> Logout</a>
                </div>
            </div>


        </div>
    </div>
</header>